div
  &.library-wrap
    div
      &.info
        display flex
        flex-wrap wrap
        padding 1rem
        div
          &.image
            flex 1 1 200px
            display flex
            align-items center
            img
              width 60%
          &.info-card
            flex 3 1 500px
        